<div class="card my-5">
  <div class="card-header"><h1>Les Invités de la Conférence <b>{{conference.nom}} </b> <b *ngIf="conference.terminer" style="color: red">(Terminé)</b></h1></div>
  <div class="card-body table-responsive">
    <h4>Vous ne pouvez pas inviter des personnes à une Conférence terminé</h4>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">L'Invité</th>
        <th scope="col">Fonction</th>
        <th scope="col">Date d'Envoie</th>
        <th scope="col">Invitation Acceptée</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let inv of invitations">
        <td>{{inv.invite.nom}} {{inv.invite.prenom}} </td>
        <td>{{inv.invite.fonction}}</td>
        <td>{{inv.date | date:'shortDate'}}</td>
        <td>{{inv.accepter?'Oui':'Non' }}</td>
      </tr>
      </tbody>
    </table>
    <td><button *ngIf="!conference.terminer || utilisateur.isadmin" class="btn btn-primary" (click)="Ajouter()">Inviter un Utilisateur</button></td>
  </div>
</div>
