<div class="card my-5">
  <div class="card-header"><h3>Mes Papiers</h3></div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Topic</th>
        <th scope="col">Conference</th>
        <th scope="col">Confirmer</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of papiers">
        <td>{{ p.nom }}</td>
        <td>{{ p.topic.nom }}</td>
        <td>{{ p.conference.nom }}</td>
        <td>{{ p.confirmer?'Oui':'Non'}}</td>
        <td>
          <button style="margin-right: 10px" class="btn btn-info" (click)="Papier(p)">Plus d'Info</button>
          <button style="margin-right: 10px" class="btn btn-secondary" (click)="Modifier(p)">Modifier</button>
          <button style="margin-right: 10px" class="btn btn-danger" (click)="Supprimer(p)">Supprimer</button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
