<div class="card my-5 w-75 mx-auto">
  <div class="card-header"><h3>Ajouter un Papier à <b>{{track.nom}} </b></h3></div>
  <div class="card-body">
    <h5>Seul les Papiers Confirmer pourront étre ajouter a une Track</h5>
    <form (ngSubmit)="onSubmit()"  #form="ngForm">
      <div class="form-group">
        <label for="Hotel">Selectioner Le Papier a Ajouter</label>
        <select required
                class="form-control"
                id="Hotel"
                name="Hotel"
                (ngModelChange)="select($event)"
                [(ngModel)]="track.papier"
                #hotel="ngModel">
          <option *ngFor="let pap of papiers" [ngValue]="pap">{{pap.nom}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Desc">Description</label>
        <textarea type="text" value="{{papier.description}}"
               class="form-control"
               id="Desc"
               name="Desc"
                  rows="3"
                  disabled></textarea>
      </div>

      <div class="form-group">
        <label for="Topic">Topic</label>
        <input type="text" value="{{papier.topic.nom}}"
               class="form-control"
               id="Topic"
               name="Topic"
               disabled>
      </div>

      <div class="form-group">
        <label for="Pauteur">Premier Auteur</label>
        <input type="text" value="{{papier.premierauteur.nom}} {{papier.premierauteur.prenom}}"
               class="form-control"
               id="Pauteur"
               name="Pauteur"
               disabled>
      </div>

      <button type="submit" [disabled]="!form.form.valid"
              class="btn btn-primary float-lg-right">Ajouter Papier</button>
    </form>
  </div>
</div>
