<div class="card my-5 w-50 mx-auto">
  <div class="card-header"><h1>Login</h1></div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()"  #form="ngForm">

      <div class="form-group">
        <input type="text" [(ngModel)]="utilisateur.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Entrer votre email"
               required #email="ngModel">
      </div>

      <div class="form-group">
        <input type="password" [(ngModel)]="utilisateur.pass"
               class="form-control"
               id="pass"
               name="pass"
               placeholder="Entrer votre mots de passe"
               required #pass="ngModel">
      </div>


      <button type="submit" [disabled]="!form.form.valid"
              class="btn btn-primary float-lg-right">Login</button>
    </form>
  </div>
</div>
