<div class="card my-5">
  <div class="card-header"><h3>Créer une Conférence</h3></div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()"  #form="ngForm">

      <div class="form-group">
        <label for="Nom">Nom</label>
        <input type="text" [(ngModel)]="conference.nom"
               class="form-control"
               id="Nom"
               name="Nom"
               placeholder="Entrer le nom de la Conference"
               required #nom="ngModel">
      </div>

      <div class="form-group">
        <label for="Catégorie">Catégorie</label>
        <input type="text" [(ngModel)]="conference.categorie"
               class="form-control"
               id="Catégorie"
               name="Catégorie"
               placeholder="Entrer la Catégorie de la Conference"
               required #categorie="ngModel">
      </div>

      <div class="form-group">
        <label for="Date">Date de la Conférence</label>
        <input type="date" [(ngModel)]="conference.date"
               class="form-control"
               id="Date"
               name="Date"
               required
               #Date="ngModel">
      </div>

      <div class="form-group">
        <label for="Sponsors">Sponsor</label>
        <input type="text" [(ngModel)]="conference.sponsor"
               class="form-control"
               id="Sponsors"
               name="Sponsors"
               placeholder="Entrer le Sponsors de la Conference"
               #sponsors="ngModel">
      </div>

      <div class="form-group">
        <label for="Hotel">Hotel</label>
        <select required
                class="form-control"
                id="Hotel"
                name="Hotel"
                (ngModelChange)="select($event)"
                [(ngModel)]="conference.hotel"
                #hotel="ngModel">
          <option *ngFor="let h of hotels" [ngValue]="h">{{h.nom}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Page-Web">Page Web</label>
        <input type="text" [(ngModel)]="conference.pageweb"
               class="form-control"
               id="Page-Web"
               name="Page-Web"
               placeholder="Entrer la Page Web de la Conference"
               #web="ngModel">
      </div>

      <div class="form-group">
        <label for="Max-papier">Nombre Maximum de Papiers</label>
        <input type="number" [(ngModel)]="conference.maxpapier"
               class="form-control"
               id="Max-papier"
               name="Max-papier"
               min="1"
               required
               #Mpapier="ngModel">
      </div>

      <div class="form-group">
        <label for="Delai">Delai de Soumission des Papiers</label>
        <input type="date" [(ngModel)]="conference.delaisoumission"
               class="form-control"
               id="Delai"
               name="Delai"
               required
               #Delai="ngModel">
      </div>

      <div class="form-group">
        <label for="Prix-Ticket">Prix de Ticket</label>
        <input type="number" [(ngModel)]="conference.prixticket"
               class="form-control"
               id="Prix-Ticket"
               name="Prix-Ticket"
               min="1"
               required
               #Pticket="ngModel">
      </div>

      <div class="form-group">
        <label for="Nombre-Ticket">Nombre de Ticket</label>
        <input type="number" [(ngModel)]="conference.nticket"
               class="form-control"
               id="Nombre-Ticket"
               name="Nombre-Ticket"
               min="1"
               required
               #Nticket="ngModel">
      </div>

      <button type="submit" [disabled]="!form.form.valid"
              class="btn btn-primary float-lg-right">Sauvegarder</button>

      <button type="reset"
              class="btn btn-danger float-lg-left">Réinitialiser</button>
    </form>
  </div>
</div>
