<div class="card my-5">
  <div class="card-header"><h1>Invitations Reçu</h1></div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">L'Expediteur</th>
        <th scope="col">La Conférence</th>
        <th scope="col">Message</th>
        <th scope="col">Date de Récéption</th>
        <th scope="col">Invitation Acceptée</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let inv of invitations">
        <td>{{inv.inviteur.email}} </td>
        <td>{{inv.conference.nom}}</td>
        <td>{{inv.message}}</td>
        <td>{{inv.date | date:'shortDate'}}</td>
        <td>{{inv.accepter?'Oui':'Non' }}</td>
        <td>
          <button (click)="Accepter(inv)" *ngIf="!inv.accepter" class="btn btn-primary">Accepter l'Invitation</button>
          <button style="margin-right: 10px" class="btn btn-info" (click)="Info(inv.conference)">Plus d'Info</button>
          <button class="btn btn-warning" (click)="Session(inv.conference)">Afficher les Sessions</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
