<div class="card my-5">
  <div class="card-header"><h1>Liste des Salles de Conférence de l'hotel <b>{{hotel.nom}}</b></h1></div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Numéro</th>
        <th scope="col">Capacité</th>
        <th scope="col">Disponible</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let salleConference of salleConferences">
        <td>{{ salleConference.numero }}</td>
        <td>{{ salleConference.nbpersonne }} personnes</td>
        <td>{{ salleConference.disponible ? 'Oui' : 'Non' }}</td>
        <td>
          <button (click)="Modifier(salleConference)" class="btn btn-info" style="margin-right: 10px">Modifier</button>
          <button (click)="Disponible(salleConference)" class="btn btn-warning"
                  style="margin-right: 10px">{{salleConference.disponible ? 'Indisponible' : 'Disponible' }}</button>
          <button (click)="Supprimer(salleConference)" class="btn btn-danger" style="margin-right: 10px">Supprimer
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <td>
      <button (click)="Ajouter()" class="btn btn-primary">Ajouter une Salle de Conférence</button>
    </td>
  </div>
</div>
