<div class="card my-5">
  <div class="card-header"><h3>Liste des Sessions de la Conférence <b>{{conference.nom}}</b></h3></div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom Session</th>
        <th scope="col">Chair</th>
        <th scope="col">Salle</th>
        <th scope="col">Date de Debut</th>
        <th scope="col">Date de Fin</th>
        <th scope="col">Terminer</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let session of sessions">
        <td>{{ session.nom }}</td>
        <td>{{ session.chair.nom }} {{session.chair.prenom}}</td>
        <td>{{ session.salle }}</td>
        <td>{{ session.datedeb | date:'dd/MMM/y h:mm a' }}</td>
        <td>{{ session.datefin | date:'dd/MMM/y h:mm a'}}</td>
        <td>{{ session.termine?'Oui':'Non'}}</td>
        <td>
          <button style="margin-right: 10px" *ngIf="!show" style="margin-right: 10px" class="btn btn-info" (click)="Modifier(session)">Modifier</button>
          <button style="margin-right: 10px"  class="btn btn-secondary" (click)="Tracks(session)">Afficher Track</button>
          <button style="margin-right: 10px" *ngIf="!show" style="margin-right: 10px" class="btn btn-success" (click)="Terminer(session)">Terminer</button>
          <button *ngIf="!show" style="margin-right: 10px" class="btn btn-danger" (click)="Supprimer(session)">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
    <td><button *ngIf="!show" class="btn btn-primary" (click)="Ajouter()">Ajouter une Session</button></td>
  </div>
</div>
