<div class="card my-5">
  <div class="card-header"><h1>Liste des Sessions de la Conférence <b>{{conference.nom}} </b> <b *ngIf="conference.terminer" style="color: red">(Terminé)</b></h1></div>
  <div class="card-body table-responsive">
    <h4>Vous ne pouvez pas ajouter ou modifier les sessions d'une Conférence terminé</h4>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom Session</th>
        <th scope="col">Chair</th>
        <th scope="col">Salle</th>
        <th scope="col">Date de Debut</th>
        <th scope="col">Date de Fin</th>
        <th scope="col">Terminer</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let session of sessions">
        <td>{{ session.nom }}</td>
        <td>{{ session.chair.nom }} {{session.chair.prenom}}</td>
        <td>{{ session.salle }}</td>
        <td>{{ session.datedeb | date:'dd/MMM/y h:mm a' }}</td>
        <td>{{ session.datefin | date:'dd/MMM/y h:mm a'}}</td>
        <td>{{ session.terminer ? 'Oui' : 'Non'}}</td>
        <td>
          <button (click)="Modifier(session)" *ngIf="(!show && !conference.terminer && !session.terminer) || u.isadmin" class="btn btn-info" style="margin-right: 10px">Modifier</button>
          <button (click)="Tracks(session)" class="btn btn-secondary" style="margin-right: 10px">Afficher Track</button>
          <button (click)="Terminer(session)" *ngIf="(!show && !conference.terminer && !session.terminer) || u.isadmin" class="btn btn-success" style="margin-right: 10px">Terminer</button>
          <button (click)="Supprimer(session)" *ngIf="(!show && !conference.terminer && !session.terminer) || u.isadmin" class="btn btn-danger" style="margin-right: 10px">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
    <td>
      <button (click)="Ajouter()" *ngIf="(!show && !conference.terminer) || u.isadmin" class="btn btn-primary">Ajouter une Session</button>
    </td>
  </div>
</div>
