<div class="card my-5 w-75 mx-auto">
  <div class="card-header"><h1>Ajouter une Salle de Conférence a l'Hotel <b>{{hotel.nom}}</b></h1></div>
  <div class="card-body">
    <form #form="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="Num">Nom</label>
        <input #num="ngModel" [(ngModel)]="salleConference.numero"
               class="form-control"
               id="Num"
               name="Num"
               placeholder="Entrer le Numéro de la chambre"
               required
               type="text">
      </div>

      <div class="form-group">
        <label for="Nb">Capacité</label>
        <input #nb="ngModel" [(ngModel)]="salleConference.nbpersonne"
               class="form-control"
               id="Nb"
               min="1"
               name="Nb"
               required
               type="number">
      </div>

      <button class="btn btn-danger float-lg-left"
              type="reset">Réinitialiser
      </button>

      <button [disabled]="!form.form.valid" class="btn btn-primary float-lg-right"
              type="submit">Ajouter
      </button>
    </form>
  </div>
</div>
