<div class="card my-5">
  <div class="card-header"><h1>Liste des Hotels</h1></div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Ville</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hotel of hotels">
        <td>{{ hotel.nom }}</td>
        <td>{{ hotel.ville }}</td>
        <td>{{ hotel.address }}</td>
        <td>
          <button style="margin-right: 10px"  class="btn btn-info" (click)="Modifier(hotel)">Modifier</button>
          <button style="margin-right: 10px"  class="btn btn-secondary" (click)="Chambre(hotel)">Afficher les Chambres</button>
          <button style="margin-right: 10px"  class="btn btn-secondary" (click)="Sconf(hotel)">Afficher les Salles de Conférences</button>
          <button style="margin-right: 10px" class="btn btn-danger" (click)="Supprimer(hotel)">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
    <td><button class="btn btn-primary" (click)="Ajouter()">Ajouter un Hotel</button></td>
  </div>
</div>
