<div class="card my-5">
  <div class="card-header"><h1>Liste de mes Conférences</h1></div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Domaine</th>
        <th scope="col">Date</th>
        <th scope="col">Site Web</th>
        <th scope="col">Terminer</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conf of conferences">
        <td>{{ conf.nom }}</td>
        <td>{{ conf.categorie }}</td>
        <td>{{ conf.date | date:'dd/MMM/y h:mm a'}}</td>
        <td><a href="https://{{conf.pageweb }}">{{ conf.pageweb }}</a></td>
        <td>{{ conf.terminer?'Oui':'Non' }}</td>
        <td>
          <button style="margin-right: 10px" class="btn btn-info" (click)="Info(conf)">Plus d'Info</button>
          <button style="margin-right: 10px" class="btn btn-primary" (click)="Modifier(conf)">Modifier</button>
          <button style="margin-right: 10px" class="btn btn-warning" (click)="Session(conf)">Afficher Sessions</button>
          <button style="margin-right: 10px" class="btn btn-warning" (click)="Topic(conf)">Afficher Topics</button>
          <button style="margin-right: 10px" class="btn btn-warning" (click)="Papier(conf)">Afficher Papiers</button>
          <button style="margin-right: 10px" class="btn btn-success" (click)="Inviter(conf)">Inviter Utilisateur</button>
          <button *ngIf="!conf.terminer" style="margin-right: 10px" class="btn btn-secondary" (click)="Terminer(conf)">Terminer</button>
          <button class="btn btn-danger" (click)="Supprimer(conf)">Annuler</button></td>
      </tr>
      </tbody>
    </table>
    <td><button class="btn btn-primary" (click)="Ajouter()">Ajouter une Conférence</button></td>
    </div>
</div>
