<div class="card my-5">
  <div class="card-header"><h1>Liste des Tracks de la Conférence <b>{{conference.nom}} </b><b *ngIf="conference.terminer" style="color: red">(Terminé)</b> session <b>{{session.nom}} </b><b *ngIf="session.terminer" style="color: red">(Terminé)</b></h1></div>
  <div class="card-body table-responsive">
    <h4>Vous ne pouvez pas ajouter ou modifier les Tracks d'une Conférence ou Session terminé</h4>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom Track</th>
        <th scope="col">Date de Début</th>
        <th scope="col">Date de Fin</th>
        <th scope="col">Terminer</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of tracks; let i = index">
        <td>{{track.nom}}</td>
        <td>{{ track.datedeb | date:'dd/MMM/y h:mm a' : 'UTC' }}</td>
        <td>{{ track.datefin | date:'dd/MMM/y h:mm a': 'UTC'}}</td>
        <td>{{ track.terminer?'Oui':'Non'}}</td>
        <td>
          <button *ngIf="(!show && !conference.terminer && !session.terminer && !track.terminer) || u.isadmin" style="margin-right: 10px" class="btn btn-info" (click)="Modifier(track)">Modifier</button>
          <button *ngIf="!aPapier(track) " style="margin-right: 10px"  class="btn btn-secondary" (click)="Info(track.papier)">Info Papier</button>
          <button *ngIf="(!show && aPapier(track) && !conference.terminer && !session.terminer && !track.terminer) || (u.isadmin && aPapier(track))" style="margin-right: 10px"  class="btn btn-warning" (click)="AjouterP(track)">Ajouter Papier</button>
          <button *ngIf="(!show && !aPapier(track) && !conference.terminer && !session.terminer && !track.terminer) || (u.isadmin && !aPapier(track))" style="margin-right: 10px"  class="btn btn-warning" (click)="Enlever(track)">Enlever Papier</button>
          <button *ngIf="(!show && !conference.terminer && !session.terminer && !track.terminer) || u.isadmin" style="margin-right: 10px" class="btn btn-success" (click)="Terminer(track)">Terminer</button>
          <button *ngIf="(!show && !conference.terminer && !session.terminer && !track.terminer) || u.isadmin" style="margin-right: 10px" class="btn btn-danger" (click)="Supprimer(track)">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
    <td><button *ngIf="(!show && !conference.terminer && !session.terminer) || u.isadmin" class="btn btn-primary" (click)="Ajouter()">Ajouter Track</button></td>
  </div>
</div>
