<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarConference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Conferences
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a routerLink="/lconferences" class="dropdown-item">Lister les Conferences</a>
          <a *ngIf="!show" routerLink="/aconferences" class="dropdown-item">Chairing</a>
          <a *ngIf="!show" routerLink="/myconferences" class="dropdown-item">Afficher Mes Conference</a>
        </div>
      </li>

      <li *ngIf="!show" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarPapier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Papier
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a routerLink="/mypapier" class="dropdown-item">Mes Papiers</a>
          <a routerLink="/cconference" class="dropdown-item">Soumettre un Papier</a>
          <a routerLink="/myconferences" class="dropdown-item">Papiers Recue</a>
          <a routerLink="/myreviews" class="dropdown-item">Mes Evaluations</a>
        </div>
      </li>

      <li *ngIf="!show" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarInvitation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Invitation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a routerLink="/myconferences" class="dropdown-item">Envoyer une Invitation</a>
          <a routerLink="/einvitation" class="dropdown-item">Invitation Envoyer</a>
          <a routerLink="/rinvitation" class="dropdown-item">Invitation Recue</a>
        </div>
      </li>

      <li *ngIf="!show"ng-serve class="nav-item">
        <a class="nav-link" href="/reservations">Réservations</a>
      </li>

      <li *ngIf="!show && isadmin"ng-serve class="nav-item">
        <a class="nav-link" href="/hotels">Hotels</a>
      </li>

      <li *ngIf="!show" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mon Profile ({{utilisateur.nom}} {{utilisateur.prenom}})
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a routerLink="/mutilisateur" class="dropdown-item">Modifier mes Information</a>
          <a href="/login" class="dropdown-item" (click)="loggOut()">Déconnexion</a>
        </div>
      </li>
      <li *ngIf="show" class="nav-item">
        <a class="nav-link" href="/register">Inscription</a>
      </li>
      <li *ngIf="show" class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="align-self-center container-fluid" style="min-height: 75vh">
      <router-outlet></router-outlet>
</div>

