<div class="card my-5">
  <div class="card-header"><h3>Mes Invitations Envoyée</h3></div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Accusé de réception</th>
        <th scope="col">La Conférence</th>
        <th scope="col">Message</th>
        <th scope="col">Date d'Envoie</th>
        <th scope="col">Invitation Acceptée</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let inv of invitations">
        <td>{{inv.invitee.email}} </td>
        <td>{{inv.conference.nom}}</td>
        <td>{{inv.message}}</td>
        <td>{{inv.date | date:'shortDate'}}</td>
        <td>{{inv.accepter}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
