<div class="card my-5 w-75 mx-auto">
  <div class="card-header"><h1>l'Evaluation du Papier <b>{{evaluation.papier.nom}}</b></h1></div>
  <div class="card-body">
      <div class="form-group">
        <label for="Evalu">Evaluation</label>
        <textarea type="text" [(ngModel)]="evaluation.revue"
                  class="form-control"
                  id="Evalu"
                  name="Evalu"
                  placeholder="Entrer l'Evaluation"
                  disabled
                  rows="3"
                  #eva="ngModel"></textarea>
      </div>
      <div class="form-group">
        <label for="Note">Note</label>
        <input type="text" [(ngModel)]="evaluation.note"
               class="form-control"
               id="Note"
               name="Note"
               placeholder="Entrer la Note"
               disabled
               #note="ngModel">
      </div>
      <div class="form-group">
        <label for="Comm">Commentaire</label>
        <textarea type="text" [(ngModel)]="evaluation.commentaire"
                  class="form-control"
                  id="Comm"
                  name="Comm"
                  placeholder="Entrer les Commentaires"
                  disabled
                  rows="3"
                  #com="ngModel">
        </textarea>
      </div>
  </div>
</div>
