<div class="card my-5">
  <div class="card-header"><h1>Liste des Topics de la Conférence <b>{{conference.nom}} </b><b *ngIf="conference.terminer" style="color: red">(Terminé)</b></h1></div>
  <div class="card-body table-responsive">
    <h4>Vous ne pouvez pas ajouter ou modifier les topics d'une Conférence terminé</h4>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let topic of topics">
        <td>{{ topic.nom }}</td>
        <td>{{ topic.description }}</td>
        <td>
          <button *ngIf="(!show && !conference.terminer) || utilisateur.isadmin" style="margin-right: 10px" class="btn btn-info" (click)="Modifier(topic)">Modifier</button>
          <button *ngIf="(!show && !conference.terminer) || utilisateur.isadmin" style="margin-right: 10px" class="btn btn-danger" (click)="Supprimer(topic)">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
    <td><button *ngIf="(!show && !conference.terminer) || utilisateur.isadmin" class="btn btn-primary" (click)="Ajouter()">Ajouter un Topic</button></td>
  </div>
</div>
