<div class="card my-5 w-75 mx-auto">
  <div class="card-header"><h1>Créer Track pour la Session <b>{{session.nom}} </b></h1></div>
  <div class="card-body">
    <form #form="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="Nom">Nom</label>
        <input #nom="ngModel" [(ngModel)]="track.nom"
               class="form-control"
               id="Nom"
               name="Nom"
               placeholder="Entrer le Nom de la Track"
               type="text">
      </div>

      <div class="form-group">
        <label for="HeureD">Heure de Debut</label>
        <input #heured="ngModel" [(ngModel)]="track.datedeb"
               class="form-control"
               id="HeureD"
               name="HeureFD"
               required type="datetime-local">
      </div>

      <div class="form-group">
        <label for="HeureF">Heure de Fin</label>
        <input #heured="ngModel" [(ngModel)]="track.datefin"
               class="form-control"
               id="HeureF"
               name="HeureF"
               required type="datetime-local">
      </div>

      <button class="btn btn-danger float-lg-left"
              type="reset">Réinitialiser
      </button>

      <button [disabled]="!form.form.valid" class="btn btn-primary float-lg-right"
              type="submit">Ajouter
      </button>
    </form>
  </div>
</div>
