<div class="card my-5">
  <div class="card-header"><h3>Liste des Conférences</h3></div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Categorie</th>
        <th scope="col">Date</th>
        <th scope="col">Site Web</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conf of conferences">
        <td>{{ conf.nom }}</td>
        <td>{{ conf.categorie }}</td>
        <td>{{ conf.date | date:'dd/MMM/y h:mm a'}}</td>
        <td><a href="https://{{conf.pageweb }}">{{ conf.pageweb }}</a></td>
        <td>
          <button style="margin-right: 10px" class="btn btn-info" (click)="Info(conf)">Plus d'Info</button>
          <button style="margin-right: 10px" class="btn btn-warning" (click)="Session(conf)">Afficher les Sessions</button>
          <button *ngIf="isadmin" style="margin-right: 10px" class="btn btn-secondary" (click)="Modifier(conf)">Modifier</button>
          <button *ngIf="isadmin" class="btn btn-danger" (click)="Supprimer(conf)">Supprimer</button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
