<div class="card my-5">
  <div class="card-header"><h3>Liste des Conférences</h3></div>
  <div class="card-body table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Categorie</th>
        <th scope="col">Date</th>
        <th scope="col">Site Web</th>
        <th scope="col">Hotel</th>
        <th scope="col">Ville</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conf of conferences">
        <td>{{ conf.nom }}</td>
        <td>{{ conf.categorie }}</td>
        <td>{{ conf.date | date:'shortDate'}}</td>
        <td><a href="https://{{conf.pageweb }}">{{ conf.pageweb }}</a></td>
        <td>{{ conf.hotel.nom }}</td>
        <td>{{ conf.hotel.ville }}</td>
        <td><button class="btn btn-info" (click)="Info(conf)">Plus d'Info</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
