<div class="card my-5 ">
  <div class="card-header"><h3>Liste des Conférences</h3></div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Categorie</th>
        <th scope="col">sponsor</th>
        <th scope="col">Prix Ticket</th>
        <th scope="col">Date</th>
        <th scope="col">Dernier delais de soumission</th>
        <th scope="col">Site Web</th>
        <th scope="col">Hotel</th>
        <th scope="col">Ville</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conf of conferences">
        <td>{{ conf.id }}</td>
        <td>{{ conf.nom }}</td>
        <td>{{ conf.categorie }}</td>
        <td>{{ conf.sponsor }}</td>
        <td>{{ conf.prixticket }}</td>
        <td>{{ conf.date | date:'shortDate'}}</td>
        <td>{{ conf.delaisoumission | date:'shortDate' }}</td>
        <td><a href="https://{{conf.pageweb }}">{{ conf.pageweb }}</a></td>
        <td>{{ conf.hotel.nom }}</td>
        <td>{{ conf.hotel.ville }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
