<div class="card my-5 w-75 mx-auto">
  <div class="card-header"><h1>Envoyer une Invitation</h1></div>
  <div class="card-body">
    <form #form="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="Email">Email</label>
        <input #email="ngModel" [(ngModel)]="invitee.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Entrer l'email de l'utilisateur a inviter"
               required type="text">
      </div>

      <div class="form-group">
        <label for="Message">Message</label>
        <textarea #mess="ngModel" [(ngModel)]="invitation.message"
                  class="form-control"
                  id="message"
                  name="message"
                  placeholder="Entrer un message"
                  required
                  rows="3" type="text"></textarea>
      </div>

      <button class="btn btn-danger float-lg-left"
              type="reset">Réinitialiser
      </button>

      <button [disabled]="!form.form.valid" class="btn btn-primary float-lg-right"
              type="submit">Envoyer
      </button>

    </form>
  </div>
</div>
